@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(120,_119,_198,_0.4);
  scrollbar-width: thin;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  scrollbar-width: thin;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6366F1;
  scrollbar-color: #888 #f1f1f1;


}

